.backgound {
    -fx-background-color: #2f4653;
}


.imgPreview {
    -fx-border-width: 5px;
    -fx-border-color: #fbfdff;
    -fx-border-radius: 5px;
}

.progress-indicator .percentage{
    -fx-fill: white;
}

