.root {
    -fx-font-family: "Ubuntu Regular";
    -fx-font-size: 13px;
}

.refreshButton {
    /*-fx-background-image: url('/icon/refresh.png');*/
    /*-fx-background-repeat: stretch;*/
    /*-fx-background-size: 70 70;*/
}

.selectedTab:selected {
    -fx-background-color: orange;
}